@import './../../_variables.scss';

.app-bar {
  width: 100%;
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 20px;
  line-height: 1rem;
  display: flex;
  box-shadow: 0 3px 5px 0 #380b0b;
  justify-content: space-between;
  .title {
    color: $white;
  }
  img {
    width: 50px;
    height: 50px;
    &.poke-icon {
      animation: brand-spin infinite 20s linear;
    }
    &.gh-icon:hover {
      animation: wobble 1s;
    }
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes brand-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
