$primary: #f00;
$secondary: hsl(208, 56%, 46%);
$off_white: #f9f9f9;
$light_gray: #d1d7dc;

$normal_text: #34495e;
$disabled_text: #575757;

$width_normal: 12rem;
$width_large: 20rem;
$width_very_large: 1280px;
