@import './../../_variables.scss';

.pokemon-list {
  // filter: drop-shadow(25px 25px 10px rgb(150, 148, 148));
  width: $width_very_large;
  .card {
    color: $normal_text;
    position: relative;
    margin: 1rem 0.6rem;
    display: inline-block;
    width: $width_normal;
    height: auto;
    padding: 2% 0;
    height: calc(1.4 * #{$width_normal});
    border-radius: 0.5rem;
    border: transparentize($primary, 0.6) 1px solid;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    img {
      display: block;
      position: relative;
      top: 2rem;
      left: 0;
      width: 80%;
      height: auto;
      border-radius: 3%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transition: width 0.2s ease-out, height 0.2s ease-out, top 0.2s ease-out,
        left 0.2s ease-out;
    }

    &:hover {
      animation: none;
      z-index: 100;

      img {
        $width_large: 18rem;
        width: $width_large;
        height: calc(1.4 * #{$width_large});
        position: relative;
        top: calc(
          (-1 * (1.4 * #{$width_large}) / 2) + ((1.4 * #{$width_normal}) / 2)
        );
        left: calc((-1 * #{$width_large} / 2) + (#{$width_normal} / 2));
      }
    }
  }
}
