@import './../../_variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .page-item {
    background: $off_white;
    list-style-type: none;
    text-align: center;
    min-width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid $light_gray;
    border-left: none;
    color: $secondary;
    padding: 0 10px;
    cursor: pointer;
    transition: background 0.2s;
    &.active {
      border: 1px solid $secondary;
      background: $secondary;
      color: white;
    }
    &.page-button {
      &:disabled {
        cursor: not-allowed;
        color: $disabled_text;
        background: $off_white;
      }
    }
    &.page-num {
      @media only screen and (max-width: 720px) {
        display: none;
      }
    }
    &:first-child {
      border-left: 1px solid $light_gray;
    }
    &:hover {
      background: lighten($secondary, 20%);
      color: white;
    }
    .page-link {
      text-decoration: none;
      color: inherit;
    }
  }
}
