@import './../../_variables.scss';

.app-bar {
  width: 100%;
  background-color: $primary;
  padding: 1%;
  line-height: 1rem;
  box-shadow: 0 1px 3px 0 black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    &.gh-icon {
      cursor: pointer;
      &:hover {
        animation: wobble 1s;
      }
    }
  }
  input {
    width: 8%;
    height: 37px;
    appearance: none;
    font-weight: 200;
    color: $normal_text;
    background: white url(./../../assets/images/search.svg) no-repeat scroll 5px;
    background-size: 25px 25px;
    border-radius: 37px;
    padding: 0 10px 0 37px;
    pointer-events: all;
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: $secondary;
    transition: border 0.25s ease, width 0.125s ease 0.125s;
    -webkit-transition: border 0.25s ease, width 0.125s ease 0.125s;
    -moz-transition: border 0.25s ease, width 0.125s ease 0.125s;
    -o-transition: border 0.25s ease, width 0.125s ease 0.125s;
    &:focus {
      width: 20%;
    }
  }
}

@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes brand-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
