@import './../../_variables.scss';

.bread-crumbs {
  grid-area: bread-crumbs;
  line-height: 3rem;
  width: 40vw;
  li {
    padding-right: 0.2rem;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    a {
      text-decoration: none;
      color: $normal_text;
      &.link {
        color: $secondary;
      }
    }
    b {
      color: $primary;
    }
  }
}
