@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
@import './_variables.scss';

.app-wrapper {
  height: 100%;
  overflow: scroll;
}

.container {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    'bread-crumbs bread-crumbs bread-crumbs'
    'category-list main .';
}

.main {
  grid-area: main;
}
