@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
@import './_variables.scss';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.app-bar {
  width: 100%;
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 20px;
  line-height: 1rem;
  display: table;
  box-shadow: 0 3px 5px 0 #380b0b;
  .nav-item {
    vertical-align: middle;
    display: table-cell;
    &.title {
      color: $white;
      text-align: center;
      padding-right: 15%;
    }
    img {
      animation: brand-spin infinite 20s linear;
      width: 50px;
      height: 50px;
    }

    @keyframes brand-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  font-family: 'PT Sans', sans-serif;
}

.main-content {
  display: grid;
}

.category-form {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-left: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: $secondary 2px solid;
    border-radius: 0.3rem;
  }
}

.pokemon-list {
  text-align: center;
  .card {
    padding-top: 1rem;
    border: #c7c6c6 1px solid;
    box-shadow: 4px 5px 6px 0 #444444;
    border-radius: 0.5rem;
    width: 16rem;
    height: 16rem;
    float: left;
    margin: 5px;
    text-align: center;
    img {
      max-width: 12rem;
      max-height: 12rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .container {
      margin: 0;
    }
  }
}

.pagination {
  text-align: center;
  li {
    a {
      cursor: default;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      text-decoration: none;
      border: 1px solid #ddd;
    }
  }
  li {
    display: inline-block;
    &.active {
      background-color: $secondary;
      color: $white;
    }
    &.previous {
      color: $secondary;
      background-color: $white;
    }
    &.next {
      color: $secondary;
      background-color: $white;
    }
  }
}
