$primary: #f00;

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.app-bar {
  width: 100%;
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 20px;
  line-height: 1rem;
  display: table;
  box-shadow: 0 3px 5px 0 #380b0b;
  .nav-item {
    vertical-align: middle;
    display: table-cell;
    &.title {
      color: #fff;
      text-align: center;
      padding-right: 15%;
    }
    img {
      animation: brand-spin infinite 20s linear;
      width: 50px;
      height: 50px;
    }

    @keyframes brand-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.pokemon-list {
  margin: 0 0 0 10rem;
  text-align: center;
  .card {
    border: black 1px solid;
    width: 16rem;
    height: 16rem;
    float: left;
    margin: 5px;
    text-align: center;
    img {
      max-width: 12rem;
      max-height: 12rem;
    }
  }

  @media only screen and (max-width: 400px) {
    .container {
      margin: 0;
    }
  }
}



.pagination {
  li {
    a,
    span {
      cursor: default;
      color: #337ab7;
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.42857143;
      text-decoration: none;
      // background-color: #fff;
      border: 1px solid #ddd;
    }
  }
  li {
    display: inline-block;
    &.active {
      background-color: #337ab7 !important;
      color: #fff !important;
    }
  }
}

