@import './../../_variables.scss';

.app-bar {
  width: 100%;
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 20px;
  line-height: 1rem;
  display: table;
  box-shadow: 0 3px 5px 0 #380b0b;
  .nav-item {
    vertical-align: middle;
    display: table-cell;
    &.title {
      color: $white;
      text-align: center;
      padding-right: 15%;
    }
    img {
      animation: brand-spin infinite 20s linear;
      width: 50px;
      height: 50px;
    }

    @keyframes brand-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
